#plussign{
   
    width: 300px;
    margin: auto;
}

#plussign>img{
    width: 50px;
    height: auto;
    float: left;
}
#plussign>p{
    display: inline-block;
    font-weight: 600;

}
.search{
    width: 58%;
    padding: 6px;
    margin: 22px 0;
    background-color: rgb(240, 236, 232);
    font-size: 16px;

}
.backcurtain{
   
    width: 46%;
    margin: 130px auto;
    background-color: rgb(118, 180, 216);
    padding: 50px;
    color: rgb(240, 223, 192);
    border-radius: 10px;
    box-shadow:1px 1px 10px #0f6496;
    
}
.activitytable{
    width: 80%;
    margin: auto;
   
}
.activitytable th{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    cursor: pointer;
    background-color: #5a57a8;
    color: antiquewhite;

}

.activitytable td{
    padding: 12px 15px;
}
.activitytable, .activitytable th, .activitytable td{
    border: ridge 3px rgb(219, 208, 208);
    border-collapse:collapse;
}
.activitytable .datarow:nth-child(even){
    background-color: rgb(231, 231, 250);
}

caption{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 26px;
    
}
.activitytable  .datarow:hover{
    background-color: orange;
    cursor: pointer;
}

.moreParticipantAlert{
    color: red
}




