#subandcel>button{

    width: 33%;
    min-width: 80px;
    padding: 8px 15px;
    font-size: 16px;
    background-color: antiquewhite;
    margin: 0 5%;
    border-radius: 5px;
    cursor: pointer;

}
#subandcel{
    width: 50%;
    margin: auto;
}
