ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navlink{
    min-width: 80px;
    font-size: 18px;
    margin: 6px 10px;
    background-color:transparent;
    border-radius: 6px;
    display: inline-block;
    padding: 8px 10px;
    font-weight:800;
    text-decoration: none;
    color: rgb(52, 50, 163);
    font-family:"Times New Roman", Times, serif;
    transition: 0.4s;
   
}
.navlink:hover{
    background-color: rgb(106, 168, 223);
    color: aquamarine;
}
.navlink:active{
    color: rgb(51, 49, 49);
}