#loginpage{
    width: 50%;
    margin: 50px auto;

}

#loginpage div>input{
    padding: 5px 10px;
    width: 88%;
  
}

#loginbt{
    margin:13px;
}
#loginbt>button{
    min-width: 80px;
    background-color: antiquewhite;
    padding: 5px 10px;
    margin: 10px;
    font-weight: bolder;
    
 
}
.editfile{
    width: 56%;
    text-align: left;
    margin: auto;
    padding: 15px 26px;
    border: 2px ridge burlywood;
    margin-top: 35px;
    background-color: rgb(243, 233, 220);

}

.inputUI>input,.inputUI>select{
    width: 58%;
    padding: 5px 10px;
    margin: 12px 0;
    background-color: rgb(240, 236, 232);
}
.inputUI textarea{
    height: 280px;
    overflow: auto;
    padding: 5px 10px;
    width: 88%;
    margin: 12px 0;
    background-color: rgb(240, 236, 232);
}
.checkbox{
    float:left;
    width: 20%;
   
}
.inputUI::after {
    content: "";
    display: table;
    clear: both;
}
.inputUI>label{
    font-size: 16px;
    font-weight: bold;
    
}
.editfile>p{
    font-size: 26px;
    font-weight: bolder;
}
