.loginpage{
    width: 50%;
    margin: 50px auto;
  

}

.editfile{
    width: 56%;
    text-align: center;
    margin: auto;
    padding: 15px 26px;
    box-shadow: 0 0 30px burlywood;
    margin-top: 35px;
    background-color: rgb(243, 233, 220);
   

}

.inputUI, .selectUI{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 58%;
    padding: 6px;
    margin: 12px 0;
    background-color: rgb(240, 236, 232);
    font-size: 16px;

}
.textarea{
    height: 280px;
    overflow: auto;
    padding: 10px;
    width: 58%;
    margin: 12px 0;
    background-color: rgb(240, 236, 232);
    font-size: 16px;
}
.checkbox{
    float:left;
    width: 20%;
   
}
.inputUI::after {
    content: "";
    display: table;
    clear: both;
}
label{
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    
}
.checkbox label{
    font-weight: 500;
   
}
.editfile>p{
    font-size: 26px;
    font-weight: bolder;
}
