.App {
  text-align: center;
  color: rgb(51, 49, 49);
  background-color: rgb(252, 253, 248);
}

.App-header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(252, 253, 248);
  border-bottom: 3px double rgb(206, 191, 191);
  position: fixed;
  top:0;
  left: 0;
  z-index: 2;
  
}
#userID{
  position: absolute;
  right: 80px;
  bottom: 15px;
}
#userID>span{
  color: red;
}
.App-header a{
  text-decoration: none;
}
.App-header a:active{
   color: #a124b7;;
}
.homepagealert{
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 200px;
  width: 400px;
  font-size: 22px;
  background-color: #61dafb;
  z-index: 20px;
  padding: 30px 38px;
  font-weight: 700;
  border-radius: 18px;
  color: rgb(233, 233, 227);

}
#logo{
  width: 52%;
  height: 60px;
  font-size: 42px;
  font-weight: bolder;
  text-shadow: 3px 3px 6px rgb(20, 36, 1);
  color:rgb(228, 217, 217);
  margin-bottom: 46px;

}
#logo>a{
  color: rgb(110, 190, 12);
}
.logandsign{
  position: absolute;
  right:20px;
  top:58px;
}
.logandsign>a{

  padding: 5px 8px;
  font-size: 18px;
  background-color: cadetblue;
  border-radius: 6px;
  border: 2px solid  rgb(17, 66, 68);
  color: aliceblue;
  margin: 0 15px
  
}
nav{
 position: absolute;
 left: 0;
 bottom: 8px;
}
.App-link {
  color: #61dafb;
}
main{
  top:160px;
  position: relative;

}
#errorInput{
  color: red;
}
@media Screen and (max-width:500px){
 
  #logo{
    display: none;
  }
 
}


