.App {
  text-align: center;
}

.App-header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(51, 49, 49);
  border-bottom: 2px groove rgb(206, 191, 191);
  position: relative;
}
.App-header a{
  text-decoration: none;

 
}
.App-header a:active{
   color: #a124b7;;
}
#logo{
  width: 50%;
  height: 60px;
  font-size: 36px;
  font-weight: bolder;
  text-shadow: 4px 4px 10px #530760;
  color:#a124b7;
  margin-bottom: 46px;

}
#logo>a{
  color: #a124b7;;
}
.logandsign{
  position: absolute;
  right:20px;
}
.logandsign>a{

  padding: 5px 8px;
  font-size: 18px;
  background-color: cadetblue;
  border-radius: 6px;
  border: 2px solid  rgb(17, 66, 68);
  color: aliceblue;
  
}
nav{
 position: absolute;
 left: 0;
 bottom: 8px;
}
.App-link {
  color: #61dafb;
}


